/* Your existing styles for other elements */

.container {
  font-family: "Alegreya";
  font-style: normal;
}

.extra {
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.heading, h1, h2 {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0.5em;
}

/* Add styles for the school grid and items */
.school-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2%;
  padding: 2%;
  justify-content: center;
}

/* Add styles for the school item */
.school-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 212, 149, 0.5);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 100%;
}

/* Add styles for the image container */
.image-container {
  flex-grow: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* Add styles for the image */
.image-container img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/* Add styles for the title and location */
.title, .location {
  padding: 2%;
  font-size: 1.6vw;
  background-color: rgba(255, 212, 149, 0.7); /* Slightly darker background */
}

/* Adjust the styles as needed for your layout */
