.image-div1{
    height: 70vh;
    width: 100%;
    display: flex;
    background-color: #D7E9B9;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

}

.image-text1 {
    /* flex-grow: 1; */
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
  }
  .image-div1 img {
    margin-right: 20px; /* add some space between the image and text */
    height: 100%;
    width: 37%;
    transform: scale(1.3);
  }
.w3{
    font-size: 50px;
    font-weight: bold;
    font-family: 
    Alegreya;
  }
  .w4{
    font-size: 50px;
    font-weight: bold;
    font-family: 
    Alegreya;
  }
.w5{
    font-family: 
    Alegreya;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    margin-left: 50px;
  }


  /* search */
  .buttonsmid{
    width: 100%;
    height: 25vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .loc{
    width:37vw;
    height: 10vh;
    /* border:2px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .btnl{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 15vw;
    height: 7vh;
    /* border: 1px solid black; */
    /* outline: none; */
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-right: 2.5vw;
    background-color: #D7E9B9;
    font-family: 
    Alegreya;
  }
  .inpt{
    width: 25vw;
    height: 7vh;
    border-radius: 20px;
    border-width: 1px;
    padding-left: 1vw;
    font-size: medium;
    outline: none;
  }
  .inpt69{
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 25vw;
    height: 7vh;
    border-radius: 20px;
    border-width: 1px;
    padding-left: 2vw;
    font-size: medium;
  }
  .inpt9{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25vw;
    height: 7vh;
    font-family: 
    Alegreya;
    border-radius: 20px;
    border-width: 1px;
    padding-left:2vw ;
    font-size: large;
    outline: none;
  }
  .find{
    width: 12vw;
    height: 10vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    cursor: pointer;
  }


  /* cards */
  .cards{
    display: flex;
    flex-wrap: wrap;
    min-height: 0vh;
    width: 100%;
    /* border: 2px solid purple; */
    justify-content: center;
    align-items: center;
  }
  .card{
    margin: 7vh 3vw 7vh 3vw;
    background-color: #FFFBAC;
    height: 50vh;
    width: 19vw;
    /* border: 2px solid black; */
    border-radius: 10px;
  }
  .upperpart{
    height: 70%;
  }
  .upperpart img{
    height: inherit;
    width: 100%;
    height: 100%;
  }
  .lowerpart{
    border-top: 1px solid black;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Montserrat;
    flex-direction: column;
  }
  