.container {
  margin: auto;
  margin-top: 1.5em;
}
.image-div {
  height: 70%;
  width: 100%;
  display: flex;
  background: rgba(215, 233, 185, 0.5);
  align-items: center;
  justify-content: space-around;
}

.image-div img {
  margin-right: 20px; /* add some space between the image and text */
  height: 90%;
  width: 34%;
  /* transform: scale(1.1); */
}

.image-text {
  /* flex-grow: 1; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 40%;
  padding: 1.5em;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
}
.w1 {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 87px;
  text-align: center;
}
.w2 {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 49px;
  text-align: center;

  color: #000000;
  margin: 20px;
  margin-left: 50px;
}
form {
  margin: 1em 2em;
  text-align: left;
}
/* .bttn {
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
  background: rgba(240, 169, 169, 0.5);
  border-radius: 50px;
} */

input[type="radio"] {
  border: 0px;
  position: absolute;
  /* margin-top: 1em; */
  width: 2em;
  height: 2em;
  background-color: blue;
}
label {
  padding: auto;
}
.div1 {
  display: inline-block;
  margin: auto;
  margin-top: 0em;
  width: 30em;
  padding: 0.8em;
}

.div2 {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 1em;
  /* margin-top: 0.2em; */
  margin-bottom: 0em;
  margin-left: 1em;
}
.bttn {
  background: #a6ea7d80;
  border-radius: 50px;
  /* height: 10em; */
  width: 20em;
  height: 2em;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 44px;
  /* padding-bottom: 1em; */
  /* align-items: center; */
  text-align: center;
  color: #000000;
  margin: 0em;
}

p {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.2em;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
  margin-top: 1.5em;
}

.sub_btn {
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 9em;
  color: #000000;
  height: 2em;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 2.5em;
  background: rgba(144, 203, 229, 0.5);
  border-radius: 50px;
}
.sub_btn:hover {
  background-color: #a6ea7d80; /* Green */
  color: white;
}
